body {
    background-color: white;
}


/* This deals with and styles the whole div that contains our logo */

#logo {
    display: flex;
    justify-content: center;
}


/* This styles our image */

#image {
    width: 200px;
    height: 200px;
}


/* This style our nav bar */

#nav {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    font-family: 'Play';
    font-size: 20px;
}


/* Hover over links and change opacity */

#navOptions:hover {
    color: white;
    opacity: 0.3;
}


/* The block below styles our page links */

a {
    color: black;
    text-decoration: none;
    /* This removes underlines from any of our linkss */
}


/* This styles our horizontal line */

hr {
    width: 75%;
}


/* Style the placeholder text in our search bar */

input::placeholder {
    font-family: 'Play';
}


/* Style the text describing our mission */

#missionTitle {
    display: flex;
    justify-content: center;
    font-family: 'Play';
}

#missionText {
    display: flex;
    justify-content: center;
    font-family: 'Play';
    font-size: 20px;
}


/* <!-- DISCLAIMER: All code regarding slideshows has been studied and adapted from a w3schools tutorial @: https: //www.w3schools.com/howto/howto_js_slideshow.asp  --> */


/* Style all our slideshow stuff */

* {
    box-sizing: border-box
}

#slideshowContainer {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Default hide images */

.mySlides {
    display: none;
}


/* Next and prev buttons */

#prev,
#next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 10px;
    color: blue;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* place "next" button on the right */

#next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* slightly opaque black on hover */

#prev:hover,
#next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* style our caption text */

#caption {
    color: black;
    font-size: 25px;
    font-family: 'Play';
    padding: 8px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Style teh dottos */

#dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
}

.active,
#dot:hover {
    background-color: #717171;
}


/* fading animation */

#fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 4
    }
    to {
        opacity: 1
    }
}