/* This deals with and styles the whole div that contains our logo */

#logo {
    display: flex;
    justify-content: center;
}


/* This styles our image */

#image {
    width: 200px;
    height: 200px;
}


/* This style our nav bar */

#nav {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    font-family: 'Play';
    font-size: 20px;
}


/* Hover over links and change opacity */

#navOptions:hover {
    color: white;
    opacity: 0.3;
}


/* The block below styles our page links */

a {
    color: black;
    text-decoration: none;
    /* This removes underlines from any of our linkss */
}


/* This styles our horizontal line */

hr {
    width: 75%;
}


/* Style the placeholder text in our search bar */

input::placeholder {
    font-family: 'Play';
}


/* This block styles the intro text on our "contact" page */

#contactText {
    display: flex;
    justify-content: center;
    font-family: 'Play';
}


/* Style the text detailing our team positions */

#title {
    color: grey;
}

#meetTeam {
    display: flex;
    justify-content: center;
    font-family: 'Play';
    /* font-size: 30px; */
}


/* This puts our profile columns next to each other */

#column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    /* padding: 8px; */
    display: flex;
    justify-content: space-evenly;
    font-family: 'Play';
}

#linkedin {
    text-decoration: underline;
}


/* Create a shadow effect */

#card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
}


/* Stacks the blocks on top of each other when screen size changes */

@media screen and (max-width: 650px) {
    #column {
        width: 100%;
        display: block;
    }
}