/* This deals with and styles the whole div that contains our logo */

#logo {
    display: flex;
    justify-content: center;
}


/* This styles our image */

#image {
    width: 200px;
    height: 200px;
    ;
}


/* This style our nav bar */

#nav {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    font-family: 'Play';
}


/* Hover over links and change opacity */

#navOptions:hover {
    color: white;
    opacity: 0.3;
}


/* The block below styles our page links */

a {
    color: black;
    text-decoration: none;
    /* This removes underlines from any of our linkss */
}